/* css/style-experience.css */

#experience { position: relative; }

/* Intro message */
.experience-header {
	display: flex;
	justify-content: center;
}
.experience-title {
	margin: 200px 0 10px;
	font-size: 6rem;
	letter-spacing: 4px;
}